{
  "Packages":
  [
    {
      "Id": "ALTechUK.Avalonia",
      "MergeAll": true,
      "Exclude": ["ALTechUK.Avalonia.Remote.Protocol"],
      "IncomingIncludeAssetsOverride": "",
      "Merge": [
        {
          "Id": "Avalonia.Build.Tasks",
          "IgnoreMissingFrameworkBinaries": true,
          "DoNotMergeDependencies": true
        },
        {
          "Id": "Avalonia.Generators",
          "IgnoreMissingFrameworkBinaries": true,
          "DoNotMergeDependencies": true
        },
        {
          "Id": "Avalonia.Analyzers",
          "IgnoreMissingFrameworkBinaries": true,
          "DoNotMergeDependencies": true
        }
      ]
    }
  ]
}
